
.content-item{
    display: flex;
    justify-content: space-between !important;
    margin: auto !important;
}
.music-content{
    height: 200px;
    width: 200px;
    background-color: rgba(131, 120, 120, 0.329);
    border-radius: 100px;
}
.music-container {
   
    border-radius: 100px ;
    box-shadow: 0 13px 8px -10px #ed360d;
  }
  
  .getflex{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
  }
 
@media (max-width:688px) {
    
    .content-item{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        overflow-x: scroll;
        row-gap: 20px;
        column-gap: 10px;
        margin: auto !important;
    }
    .music-content{
    height: 200px;
    width: 200px;
    background-color: rgba(131, 120, 120, 0.329);
    border-radius: 100px;
}
.getflex{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    column-gap: 20px;
  }
}