* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #1b1a1a;
}
.width-50 {
  border-radius: 100px;
  color: #fff;
  width: 40pc !important;
}
.input-group-text {
  cursor: pointer;
}
#pause-btn,
#play-btn {
  cursor: pointer !important;
}
.navbar-toggler-icon {
  height: 2pc;
  width: 2pc;
}
.offcanvas {
  background: #1b1a1a;
  width: 20% !important;
}
.nav-item a {
  color: #fff;
}
.nav-item a:hover {
  color: #fff;
  background: #fd4414 !important;
}

.nav-link:hover {
  border: none;
  box-shadow: 0 0 10px;
  border-radius: 8px;
}
.mt-top {
  padding: 100px 0px 0px 0px;
}
.h1-font {
  font-weight: 700;
  font-size: 50px !important;
}
.side-img {
  position: relative;
  bottom: 50px;
  height: 50vh;
}
.music-img {
  height: 30vh;
  box-shadow: 0 3px 8px 0px #393838;
  border-radius: 100px;
}

.sharch-sm {
  position: relative !important;
  top: 100px !important;
}
.same-color {
  color: #ed360d;
}
.same-bg {
  background-color: #ed360d;
}
.font-10 {
  font-size: 13px;
}
.bi-graph-up-arrow {
  font-weight: 700 !important;
}

.musicdisp {
  height: 70vh;
}
.box-shadow-full {
  padding: 5rem 1rem;
  border-radius: 50px;
  position: relative;
  background-color: #ed360d;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.minheight {
  width: 50px !important;
}
#progress {
  -webkit-appearance: none;
  width: 75%;
  height: 6px;
  background: #ef9400;
  border-radius: 4px;
  cursor: pointer;
}
#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #1b1a1a;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgb(225, 26, 26, 0.22);
}

@media (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 12px;
  }
  .h1-font {
    font-weight: 700;
    font-size: 30px !important;
  }
  .navbar-nav {
    margin-left: 0px;
  }
  .offcanvas {
    width: 55% !important;
  }
  .width-50 {
    border-radius: 8px !important;
    width: 350% !important;
  }
  .side-img {
    height: 30vh !important;
  }
  .overflow {
    display: flex !important;
  }
  .sharch-sm {
    position: relative !important;
    top: 0px !important;
  }
  .musicdisp {
    height: 65vh;
  }
  .logincontainer {
    display: grid;
    gap: 1pc;
    margin: auto !important;
    margin-left: -3pc;
    grid-template-columns: repeat(1, 1fr);
  }
  .information {
    margin-top: 27pc !important;
  }
  .dropdiv {
    background-color: #0db1ed;
    border-bottom: 2px solid #ed360d;
  }
  .overflow {
    overflow-x: scroll;
  }
  .sm-width {
    width: 345px !important;
    padding: 40px !important;
  }
}
